# Environments
venv/
.env

# Python
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# Data (raw data shouldn't be committed)
data/*.csv
data/*.parquet
data/*.xlsx
data/raw/

# Model artifacts
models/

# MLflow tracking store
mlflow/

# Outputs
outputs/*.png
outputs/*.jpg
outputs/*.pdf

# OS
.DS_Store
Thumbs.db
.aider*
